* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

header {
  text-align: center;
  padding: 30px 20px;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.main_title {
  size: 10rem;
}

.subtitle {
  color: #888;
  margin-top: 5px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.filters button {
  border: 1px solid #333;
  border-color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}
.all {background-color: #2e2e2e; color: #e0e0e0;}
.onestar {background-color: #ebebeb; color: #121212;}
.twostar {background-color: #1da302; color: #e0e0e0;}
.threestar {background-color: #0004ff; color: #e0e0e0;}
.fourstar {background-color: #bc00d4; color: #e0e0e0;}
.fivestar {background-color: #d38901; color: #e0e0e0;}
.shield {background-color: #2f00ff; color: #e0e0e0;}

.filters button:hover {
  background: #333;
  color: #e0e0e0;
  border-color: rgb(255, 217, 0);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #2a2a2a;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
}

.card h3 {
  margin: 0 0 5px 0;
}

.meta {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
  font-size: 1rem;
}

.effects p {
  margin: 4px 0;
  font-size: 0.95rem;
}

/* Rarity Colors */
.commun { border-left: 5px solid gray; }
.peu_commun { border-left: 5px solid greenyellow; }
.rare { border-left: 5px solid #3b82f6; }
.epique { border-left: 5px solid #a855f7; }
.legendaire { border-left: 5px solid #f59e0b; }
.bouclier { border-left: 5px solid rgb(0, 0, 255); }

/* Mobile optimization */
@media (max-width: 500px) {
  h1 {
    font-size: 1.2rem;
  }
}

a {text-decoration: none;color: #FFFFFF;}

.item {
  border: 3px solid rgb(95 97 110);
  border-radius: 0.5em;
  background-color: rgb(95, 97, 110);
  display: flex;
  justify-content: center;
  margin:auto;
  width: 200px;
  margin-top: 35px;
  padding-top: 0px;
}